/*A*/
/*B*/
body
{
    background-color: #1e1f25;
}
/*C*/
/*D*/
/*E*/
/*F*/
/*G*/
/*H*/
h1
{
    text-align: center;
    color: #f5f5f5;
    font-weight: lighter;
}
/*I*/
/*J*/
/*K*/
/*L*/
/*M*/
/*N*/
/*O*/
/*P*/
/*Q*/
/*R*/
/*S*/
small
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: medium;
    font-weight: lighter;
    color:#f5f5f5;
}
/*T*/
/*U*/
/*V*/
/*W*/
/*X*/
/*Y*/
/*Z*/