/*A*/
/*B*/
body
{
    background-color: #1e1f25;
}
/*C*/
/*D*/
/*E*/
/*F*/
/*G*/
/*H*/
h1
{
    text-align: center;
    color: #f5f5f5;
    font-weight: lighter;
}
/*I*/
/*J*/
/*K*/
/*L*/
/*M*/
/*N*/
/*O*/
/*P*/
/*Q*/
/*R*/
/*S*/
/*T*/
/*U*/
/*V*/
/*W*/
/*X*/
/*Y*/
/*Z*/